.orderItemContainer {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    color: black;
}

.orderImageContainer {
    width: 80;
    height: 80;
    overflow: 'hidden';
    text-align: 'center';
}

.orderName {
    width: 300px;
    font-size: 13px;
}

.orderPrice {
    display: flex;
}